<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tetris_stacking_position_picker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <tetris_stacking_position_picker.Properties.Settings>
            <setting name="GAME_START_AND_END_BLIGHTNESS_MIN" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="EXIST_BLIGHTNESS_FIELD_MIN" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="EXIST_BLIGHTNESS_NEXT_MIN" serializeAs="String">
                <value>0.25</value>
            </setting>
        </tetris_stacking_position_picker.Properties.Settings>
    </userSettings>
</configuration>